<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <th:block layout:fragment="content">
        <h1 class="page-header">Recorder</h1>

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="../../static/images/record.png" th:src="@{images/record.png}" width="200" height="200" class="img-responsive" alt="Record"/>
                <h4>Record</h4>
                <!--span class="text-muted">Something else</span-->
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="../../static/images/stop.png" th:src="@{images/stop.png}" width="200" height="200" class="img-responsive" alt="Stop"/>
                <h4>Stop</h4>
                <!--span class="text-muted">Something else</span-->
            </div>
        </div>

        <h2 class="sub-header">Recordings</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Station</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Europe 1</td>
                    <td>01/01/2016 12:00 to 31/01/2016 18:00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Radio Trinitas</td>
                    <td>01/01/2016 12:00 to 31/01/2016 18:00</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>FIP</td>
                    <td>01/01/2016 12:00 to 31/01/2016 18:00</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>RTL</td>
                    <td>01/01/2016 12:00 to 31/01/2016 18:00</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>L'essentiel radio</td>
                    <td>01/01/2016 12:00 to 31/01/2016 18:00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
</html>