
<h1 class="page-header">Player</h1>

<div class="row placeholders">

    <div align="center">
        <blockquote class="playing">
            <p>...Playing radio   ...</p>
            <p>...    Europe 1    ...</p>
        </blockquote>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="images/play.png" width="200" height="200" class="img-responsive" alt="Play"/>
        <h4>Play</h4>
        <!--span class="text-muted">Something else</span-->
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="images/stop.png" width="200" height="200" class="img-responsive" alt="Stop"/>
        <h4>Stop</h4>
        <!--span class="text-muted">Something else</span-->
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="images/volume_down.png" width="200" height="200" class="img-responsive" alt="Volume down"/>
        <h4>Volume down</h4>
        <!--span class="text-muted">Something else</span-->
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="images/volume_up.png" width="200" height="200" class="img-responsive" alt="Volume up"/>
        <h4>Volume up</h4>
        <!--span class="text-muted">Something else</span-->
    </div>
</div>

<h2 class="sub-header">Radio channels</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Station</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Europe 1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Radio Trinitas</td>
        </tr>
        <tr>
            <td>3</td>
            <td>FIP</td>
        </tr>
        <tr>
            <td>4</td>
            <td>RTL</td>
        </tr>
        <tr>
            <td>5</td>
            <td>L'essentiel radio</td>
        </tr>
        </tbody>
    </table>
</div>
