<h1 class="page-header">Settings</h1>

<form action="applySettings">
    <div class="form-group">
        <label for="AIRPLAY_NAME">
            Airplay name :
        </label>
        <input type="text" class="form-control" id="AIRPLAY_NAME" placeholder="Airplay name" />
    </div>
    <div class="form-group">
        <label for="VOLUME_UP_COMMAND">
            Volume up :
        </label>
        <input type="text" class="form-control" id="VOLUME_UP_COMMAND" placeholder="Volume up"/>
    </div>
    <div class="form-group">
        <label for="VOLUME_DOWN_COMMAND">
            Volume down :
        </label>
        <input type="text" class="form-control" id="VOLUME_DOWN_COMMAND" placeholder="Volume down"/>
    </div>
    <div class="form-group">
        <label for="ADMIN_PASSWORD">
            Admin password :
        </label>
        <input type="text" class="form-control" id="ADMIN_PASSWORD" placeholder="Admin password"/>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>